<?xml version="1.0"?>
<config>
  <modules>
    <Palasis_Inheritwidgets>
      <version>1.0.0</version>
    </Palasis_Inheritwidgets>
  </modules>
  <global>
    <models>
      <core_resource>
        <rewrite>
          <layout>Palasis_Inheritwidgets_Model_Core_Resource_Layout</layout>
        </rewrite>
      </core_resource>
    </models>
  </global>
</config>